.logoImg{
    height: 32px; 
    margin-left: 8px; 
    margin-right: 12px;
}

.encabezado {
    max-width: 770px; 
    height: auto;
}

.TarjetaInicio {
    font-size: 1.3rem; 
    font-weight: bold; 
    text-align: center;
}

.encabezadoBarra {
    background-color: #0A2342;
}

.tarjeta {
    background-color: #F2F2F2
}