<ion-header [translucent]="true">
  <ion-toolbar class="encabezadoBarra">
    <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="tarjeta">
    <ion-card-header>
      <ion-card-title>Mantenimiento de Computadoras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Servicio técnico especializado para laptops, PC y periféricos. Limpieza, formateo, instalación de software, etc.
    </ion-card-content>
    <ion-button fill="outline"> Solicitar Servicio</ion-button>
  </ion-card>

  <ion-card class="tarjeta">
    <ion-card-header>
      <ion-card-title>Instalación de Cámaras de vigilancia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Instalación y configuración de sistemas de videovigilancia (CCTV, cámaras IP, DVR).
    </ion-card-content>
    <ion-button fill="outline"> Solicitar Servicio</ion-button>
  </ion-card>

  <ion-card class="tarjeta">
    <ion-card-header>
      <ion-card-title>Asesoría Tecnológica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Recomendaciones para compra de equipos, mejora de red, y optimización de recursos tecnológicos.
    </ion-card-content>
    <ion-button fill="outline"> Solicitar Servicio</ion-button>
  </ion-card>
</ion-content>
