.tituloRecuperar{
    font-size: 1 rem;
    font-weight: bold;
    text-align: center;
}

.correorecuperar{
    font-weight: bold;
}

.encabezadoBarra {
    background-color: #0A2342;
}

.tarjeta {
    background-color: #F2F2F2
}