<ion-header [translucent]="true">
  <ion-toolbar class="encabezadoBarra">
    <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle [(ngModel)]="notificaciones"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Modo oscuro</ion-label>
      <ion-toggle [(ngModel)]="modoOscuro"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-button>
        <ion-label>Cambiar contraseña</ion-label>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button>
        <ion-label>Eliminar cuenta</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
